@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$theme-colors: map-merge($theme-colors,
    ("octave-0": $teal-200,
      "octave-1": $cyan-300,
      "octave-2": $red-200,
      "octave-3": $yellow-200,
      "octave-4": $green-300,
      "octave-5": $blue-300,
      "octave-6": $purple-200,
      "octave-7": $pink-300,
      "octave-8": $orange-300,
    ));

@import "bootstrap/scss/bootstrap";

.width-30px {
  width: 30px;
}

.height-30px {
  height: 30px;
}

.height-60px {
  height: 60px;
}

.tooltip-configurator {
  --bs-tooltip-max-width: 300px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.bg-opacity-2 {
  --bs-bg-opacity: .2;
}

.btn-check.btn-focusable:focus-visible+.btn {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-dark-rgb), 0.25);
}

.btn-check.btn-focusable+.btn {
  &:hover {
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.1);
  }
}

.logo {
  transition: transform 0.2s ease;
  transform-origin: 37.65% 99%;
}

.logo-toggle:hover .logo {
  transform: rotate(-15deg);
}

.logo-toggle:active .logo {
  transform: rotate(15deg);
}

.table-spacing-y {
  border-collapse: separate;
  border-spacing: 0 4px;
}